<!-- nav -->
<header class="sticky top-0 z-20 w-full border-b border-hairline bg-paper/80 backdrop-blur-md">
    <div class="grid grid-cols-4 min-h-16 items-center justify-items-center justify-center px-4  md:grid-cols-6 md:px-6">
        <a href="#" class="col-start-1 justify-self-start">
            <img
            src="mstile-70x70.png"
            alt="Home"
            />
        </a>
        <a href="#projects" class=" col-start-3 font-mono text-lg md:col-start-5">
        Projects
        </a>

        <a href="#contact" class=" font-mono text-lg">
        Contact
        </a>
    </div>
</header>